{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>App2</title>
    <link rel="stylesheet" href="{% static 'listas\css\detalhes.css' %}">

</head>
<body>

{% block body %}
    
    <h1>{{ flight.item }}</h1>

    <a href="{% url 'index' %}">Todas as listas</a>

    <h2>Itens da lista</h2>
    <ul>
        {% for passenger in passengers %}
            <li>{{ passenger }}
            <a href="{% url 'editar' passenger.id%}">Editar</a>
            <a href="{% url 'delete' passenger.id%}">Deletar</a>
            </li>
            
        {% empty %}
            <li>Sem itens na lista</li>
        {% endfor %}
    </ul>

    <h1>Adicionar Itens</h1>

    
{% endblock %}
</body>
</html>