<!DOCTYPE html>
<html lang="en">
<head>
    <title>App2</title>
</head>
<body>
    
{% extends "layout.html" %}

{% block body %}
    
    <h1>{{ flight.item }}</h1>

    <a href="{% url 'index' %}">Todas as listas</a>

    <h2>Itens da lista</h2>
    <ul>
        {% for passenger in passengers %}
            <li>{{ passenger }}</li>
        {% empty %}
            <li>No Passengers.</li>
        {% endfor %}
    </ul>

    <form action="{% url 'book' flight.id %}" method="post">
        {% csrf_token %}
        <select name="passenger" id="">
            {% for passenger in non_passengers %}
                <option value="{{ passenger.id }}">{{ passenger }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>
    
{% endblock %}
</body>
</html>