<!DOCTYPE html>
<html lang="en">
<head>
    <title>App</title>
</head>
<body>
    {% extends "layout.html" %}

{% block body %}
    <h1>LISTA</h1>
    <ul>
        {% for flight in flights %}
            <li><a href="{% url 'flight' flight.id %}">{{ flight.item }}</a></li>
        {% endfor %}
    </ul>

    <form action="{% url 'salvar' %}" method="POST">
        {% csrf_token %}
        <p>Escreva o nome do produto</p>
        <input type="text" name="nome_produto">
        <button type="submit">Salvar</button>
    </form>
{% endblock %}
</body>
</html>