{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'listas\css\style.css' %}">

</head>
<body>

{% block body %}

    <div class="container">
        <h1>Login</h1><br>

        <form action="{% url 'login' %}" method="POST">

            {% csrf_token %}
            
            <input type="text" placeholder="Username..." name="username"><br><br>
            <input type="password" placeholder="Senha..." name="senha"><br><br>
            <input id="button" type="submit" value="Logar"><br><br>
            <a id="cadastro" href="{% url 'cadastro' %}">Cadastra-se</a>
        </form>
    </div>

{% endblock %}
</body>
</html>