<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "layout.html" %}

{% block body %}

    <form action="{% url 'update' app.id%}" method="POST">
        {% csrf_token %}
        <input type="text" name="nome" value="{{app.first}}">
        <p>Escreva como quiser</p>
        <button type="submit">Update</button>
    </form>
{% endblock %}
</body>
</html>
